
build/
dist/
__pycache__/
Project1/
*.so
*.il
*.ob
*.obs
*.py[cod]
*.stats
*.sln
*.filters
*.user
*.bak
.vs/
.ipynb_checkpoints/
*checkpoints.ipynb
*~
.pylint.d/
.cache
.vscode
.gitignore
python/Tests/test.il
python/.spyproject/config/workspace.ini
*.il
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
python/.spyproject/config/workspace.ini
